pipeline/NumberOfQueriesOverall.json
{
	"name": "NumberOfQueriesOverall",
	"properties": {
		"description": "Aggregates daily number of queries (including inactive endpoints).",
		"activities": [
			{
				"name": "GetFiles",
				"description": "Get files to be processed from Cosmos.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nDISTINCT \na.filepath(1) as [filename], \na.filepath() as [filepath]\nFROM OPENROWSET (BULK'https://sqldb-prod-c11.azuredatalakestore.net/webhdfs/v1/local/SqlAzure/Production/ssDaily/MonVdwQueryOperation/Parquet/*.0000000.parquet',FORMAT = 'PARQUET')\nas [a]\nWHERE    \ndatediff(day,cast(a.filepath(1) as datetime), convert(date,getutcdate())) <= @{pipeline().parameters.ParameterNumberOfDays}",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlOD_SqlTelemetry",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterates through the Cosmos streams of interest.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.value",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"parameters": {
			"ParameterNumberOfDays": {
				"type": "int",
				"defaultValue": 7
			}
		},
		"annotations": []
	}
}